    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About us</h2>
              <br/>
                <p>Xlab is a tech + creative company.</p>
                <p>Our core technology helps designers and developers build products on top of a cognitive-powered platform. </p >
                <p>We are aimed to make technology accessible topeople in every corner of the world.</p>
                <br/>
              </div>
        </div>
    </section>
